#### Naive Bayes

- p(x1|y) X p(x2|y) .... p(xp|y) 구하는 부분

In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('weather.nominal.csv')
data

     outlook  temperature  humidity   windy  play
0   overcast          hot      high   False   yes
1   overcast         cool    normal    True   yes
2   overcast         mild      high    True   yes
3   overcast          hot    normal   False   yes
4      rainy         mild      high   False   yes
5      rainy         cool    normal   False   yes
6      rainy         cool    normal    True    no
7      rainy         mild    normal   False   yes
8      rainy         mild      high    True    no
9      sunny          hot      high   False    no
10     sunny          hot      high    True    no
11     sunny         mild      high   False    no
12     sunny         cool    normal   False   yes
13     sunny         mild    normal    True   yes

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   outlook       14 non-null     object
 1    temperature  14 non-null     object
 2    humidity     14 non-null     object
 3    windy        14 non-null     bool
 4    play         14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [4]:
# 컬럼명 앞뒤 공백 제거

names = pd.Series(data.columns.values)
names = names.str.strip()

# 확인
for name in names:
    print(name)

outlook
temperature
humidity
windy
play

In [5]:
data.columns = names
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      14 non-null     object
 1   temperature  14 non-null     object
 2   humidity     14 non-null     object
 3   windy        14 non-null     bool
 4   play         14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [8]:
data['windy'] = data['windy'].astype('str')
data.dtypes

outlook        object
temperature    object
humidity       object
windy          object
play           object
dtype: object

In [9]:
tabs = []
for col in data.columns[:-1]:
    temp = pd.crosstab(data['play'], data[col]) # play(y)에 따른 각 빈도수 산출
    tabs.append(temp)

joined_tab = pd.concat(tabs, axis=1)    # axis=1로 결합
joined_tab

      overcast  rainy  sunny  cool  hot  mild  high  normal  False  True
play
no           0      2      3     1    2     2     4       1      2     3
yes          4      3      2     3    2     4     3       6      6     3

In [12]:
# no : y = 0일 때, overcast ~ True : x1, x2, ...xp = (xi교y)
# yes : y = 1일 때, overcast ~ True : x1, x2, ...xp = (xi교y)

In [10]:
freqY = data.groupby('play').agg('size')
freqY

play
no     5
yes    9
dtype: int64

In [11]:
data.play.value_counts()

yes    9
no     5
Name: play, dtype: int64

- p(x|y)= p(x교y)/p(y)
- 전체 crosstab을 play(yes/no) 빈도수로 나누기

In [ ]:
#